[core]
	autocrlf = input
	editor = vim
	excludesFile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = Soma Lucz
	useConfigOnly = true
[commit]
	template = ~/.gitmessage
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	m = merge
	f = fetch
	r = rebase
	rs = reset
	hist = log --graph --date=short --pretty=format:\"%Cgreen%h %Cred%ad %Creset%s %Cblue%d %Cred[%an]\"
	pushf = push --force-with-lease
	quick-stats = !/usr/local/bin/git-quick-stats
	sh = stash
	su = submodule update --init --recursive
	sw = switch
	dmb = !git br --merged | egrep -v \"(^\\*|main|master|devel)\" | xargs git br -d
[push]
	default = simple
[color]
	ui = true
[diff]
	renameLimit = 100000
[fetch]
	prune = true
[tag]
	sort = version:refname
[pull]
	rebase = false
[init]
	defaultBranch = main
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
