[core]
  autocrlf = input
  editor = vim
[user]
  name = Soma Lucz
  useConfigOnly = true
[commit]
  template = ~/.gitmessage
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  m = merge
  f = fetch
  r = rebase
  rs = reset
  hist = log --graph --date=short --pretty=format:\"%Cgreen%h %Cred%ad %Creset%s %Cblue%d %Cred[%an]\"
  pushf = push --force-with-lease
  d = diff --word-diff
  quick-stats = ! /usr/local/bin/git-quick-stats
  sh = stash
  su = submodule update --init --recursive
  md = !git fetch && git merge origin/devel
[push]
  default = simple
[pager]
  # log = diff-highlight | less
  # show = diff-highlight | less
  # diff = diff-highlight | less
[color]
  ui = always
[color "diff-highlight"]
  oldNormal = #ff0000 bold
  oldHighlight = #ff0000 bold
  newNormal = #00ff00 bold
  newHighlight = #00ff00 bold
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[diff]
  renameLimit = 100000
[fetch]
  prune = true
[tag]
  sort = version:refname
[pull]
  rebase = false
[init]
	defaultBranch = main
